body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 63.5%;
}

.main_div{
    width: 100vw;
    height: 100vh;
    background-color: hsl(0,0%,94%);
    display: grid;
    place-items: center;
}

.center_div{
    min-width: 50%;
    height: 60vh;
    color: #000;
    text-shadow: 0 0 2rem rgba(0,0,0,0.5);
    font-size: 7rem;
    font-family: cursive;
    display: flex;
    justify-content:center;
    align-items: center;
    font-weight: bold;
}