
#main{
    background-color: #f8f6f6;
    margin: auto !important;
}
.row{
    padding: 20px;
}
#ad-sec{
    height: 240px !important;

}


.col,.col-3{
    background-color: white;
    padding: 20px;
    box-shadow: 0px 2px 2px 0px rgb(0 0 0 / 22%);
    border-radius: 10px;

}
.interncol img{
    width: 150px;
    height: 150px;
}
.interncol{
    margin: 10px;
}