#table{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    cursor: pointer;
}
#table+div{
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    
    width: 32%;
    margin: auto;
    border: 0px solid red;
    padding-top: 20px;
    margin-top: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
#table+div>h1{
    text-align: center;
}
#table+div>form{
    font-size: 22px;
    /* margin-left: 10px; */
    width: 80%;
    margin: auto;
}
input{
    width: 95%;
    /* margin: auto; */
    font-size: 18px;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
    
}
p{
    font-size: 15px;
    text-align: center;
    color: teal;
}
i{
    text-decoration: underline;
    color: blue;
}
div>p{
    text-align: center;
    font-size: 22px;
}
div>p button{
    border: none;
    background-color: white;
    font-size: 20px;
    color: blue;
    cursor: pointer;
}
a{
    text-decoration: none;
}

#submit{
    background-color: rgb(140, 140, 180);
    font-weight: bolder;
    cursor: pointer;
}

.popup{
    width: 400px;
    background: linear-gradient( 174.2deg, rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 0 30px 30px;
    color: black;
    transition-delay: 2s;
    box-shadow:0 4px 8px rgb(31, 28, 25);
    display: none;
}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background: #4fd649;
    color: #fff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgda(0, 0, 0, 0.2);
}