* {box-sizing: border-box}

#table{
    width: 32%;
    margin: auto;
    border: 0px solid red;
    padding-top: 20px;
    margin-top: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.jss128 {
    padding: 30px;
    background-color: #fff;
}

.jss190 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%;
    
}

.jss144 {
    /* width: 85%;
    margin: auto; */
    margin: 0;
    box-sizing: border-box;
}

.jss408 {
    padding: 0;
    background-color: #fff;
}

.jss130 {
    box-shadow: 0px 8px 10px -5px rgb(0 0 0 / 20%), 0px 16px 24px 2px rgb(0 0 0 / 14%), 0px 6px 30px 5px rgb(0 0 0 / 12%);
}

.jss113 {
    border-radius: 4px;
}

.jss112 {
    padding: 30px;
    background-color: #fff;
}
.jss160 {
    justify-content: center;
}

.jss143 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.jss197 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
}

.jss144 {
    margin: 0;
    box-sizing: border-box;
}

.jss143 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.nDPqG {
    padding: 30px 30px 0px;
    width: 100%;
}

.jss143 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.jss165 > .jss144 {
    padding: 4px;
}

.jss183 {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
}

.jss144 {
    margin: 0;
    box-sizing: border-box;
}

.jss296 {
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0em;
}

.jss280 {
    margin: 0;
    display: block;
    overflow-wrap: break-word;
}

h5 {
    display: block;
    font-size: 0.83em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.jss307 {
    margin-bottom: 0.35em;
}

.jss298 {
    color: #999;
    font-size: 14px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.75;
    letter-spacing: 0.00938em;
}

h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.jss246 {
    color: #087CDD;
    border: 0;
    margin: 0;
    cursor: pointer;
    display: inline-flex;
    outline: none;
    padding: 3px;
    position: relative;
    font-size: 14px;
    align-items: center;
    user-select: none;
    font-weight: 400;
    line-height: 1.5em;
    border-radius: 0;
    vertical-align: middle;
    text-transform: none;
    justify-content: center;
    
    text-decoration: none;
    background-color: transparent;
    
    -webkit-tap-highlight-color: transparent;
}

.gmWiSy {
    border: 1px dashed rgb(239, 147, 154);
    /* width: 85%; */
    margin-top: 0px;
    border-radius: 5px;
    padding: 2px 7px 0px;
    background: rgb(252, 239, 241);
    margin-bottom: 10px;
    text-align: left;
}

.jss288 {
    color: #3C4858;
    font-size: 0.875rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.01071em;
}

.jss357 {
    width: 100%;
}

.jss343 {
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 3px 1px -2px rgb(0 0 0 / 12%);
    background-color: #e0e0e0;
}

.jss332 {
    color: rgba(0, 0, 0, 0.87);
    padding: 6px 16px;
    font-size: 0.875rem;
    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    line-height: 1.75;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
}

.sOehi {
    background: rgb(255, 255, 255);
    padding: 3px;
    border-radius: 4px;
    margin-right: 5px;
    position: absolute;
    left: 12px;
}
.jss316 {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    position: absolute;
    overflow: hidden;
    border-radius: inherit;
    pointer-events: none;
}

.jss344 {
    color: #fff;
    background-color: #087CDD;
}

.jss303 {
    text-align: center;
}

.bnlfXP {
    padding: 0px 30px 30px;
}


.jss165 {
    width: calc(100% + 8px);
    margin: -4px;
}


/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }
  
  /* Float cancel and signup buttons and add an equal width */
  .cancelbtn, .signupbtn {
    float: left;
    width: 50%;
  }
  
  /* Add padding to container elements */
  .container {
    padding: 32px;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and signup button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
  }

  /* label{
    padding-left: 16px;
  } */



